@{
    ViewData["Title"] = "Secciones";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<div class="card-body table-responsive p-0">
    <div id="PlaceHolderTurnos"></div>
    <button type="button" class="btn btn-primary" data-toggle="ajax-turnos" data-target="#addTurnos"
            data-url="@Url.Action("_CreateTurno")">
        Agregar Turnos
    </button>
    <table class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var turno in ViewBag.Turnos)
            {
                <tr>
                    <td>@turno.Turnoid</td>
                    <td>@turno.Descripcion</td>
                    <td><a asp-action="EditTurno" asp-route-id="@turno.Turnoid">Editar</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>
