@model SchoolSundayRH.Models.Periodos;
@{
    ViewData["Title"] = "Periodo";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Registrar Periodo Anual</h3>
    </div>
    <div class="col-md-12">
      <!-- /.card-header -->
      <!-- form start -->
     <form asp-action="EditPeriodo1">
        <div class="card-body">
            <input type="hidden" asp-for="Periodoid" />
            <div class="row">
                <div class="col-md-3 ml-5">
                    <!--columna 1 -->
                    <div class="form-group">
                        <label for="exampleInputDescripcion">Descripcion</label>
                        <input type="text" class="form-control" asp-for="Descripcion" placeholder="Descrípcion">
                    </div>
                </div> <!--columna1 -->
                <div class="col-md-3 "><!--Columna2-->
                    <div class="form-group">
                        <label for="exampleInputFechainicio">Fecha Inicicio</label>
                        <input type="text" class="form-control" asp-for="Fechainicio" name="Fechainicio" id="fechaini" placeholder="Fechainicio">
                    </div>
                </div><!--columna2-->
             </div>
             <div class="row">
                    <div class="col-md-3 ml-5">
                        <div class="form-group">
                            <label for="exampleInputFechafin">Fecha Fin</label>
                            <input type="text" class="form-control" asp-for="Fechafin" name="Fechafin" id="fechafin" placeholder="Fechafin">
                         </div> 
                    </div> 
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label for="exampleInputEstado">Estado</label>

                            @foreach (var Perio in ViewBag.bPeriodos)
                            {
                                @if (Perio.Estado == "A")
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Estado" id="PeriodoEstado" asp-for="Estado" checked value="A">
                                        <label class="form-check-label" for="PeriodoEstado">
                                            Periodo Abierto
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Estado" id="PeriodoEstado1" asp-for="Estado" value="C">
                                        <label class="form-check-label" for="PeriodoEstado1">
                                            Periodo Cerrado
                                        </label>
                                    </div>
                                }
                                @if (Perio.Estado == "C")
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Estado" id="PeriodoEstado" asp-for="Estado" value="A">
                                        <label class="form-check-label" for="PeriodoEstado">
                                            Periodo Abierto
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Estado" id="PeriodoEstado1" asp-for="Estado" checked value="C">
                                        <label class="form-check-label" for="PeriodoEstado1">
                                            Periodo Cerrado
                                        </label>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>

            </div>
           <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

      </form>
    </div>
</div>