@model SchoolSundayRH.Models.Childs;

<div class="modal fade" id="asociarPadre">
    <div class="modal-dialog">
        <div class="modal content">
            <div class="modal-header">
                <h4 class="modal-title" id="asociarPadreLabel">Asociar Padre</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="addHijoAPadre">
                    <div class="form-group">
                        <label asp-for="Nombre1"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>