@model SchoolSundayRH.Models.Childs;
@{
    ViewData["Title"] = "Niños";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Registrar Niños</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form  asp-action="Create1">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group" col-md-6>
                    <label for="exampleInputNombre1">Primer Nombre</label>
                    <input type="text" class="form-control" asp-for="Nombre1" placeholder="Primer Nombre">
                    <span asp-validation-for="Nombre1" class="text-danger"></span>

                </div>
                <div class="form-group" col-md-6>
                    <label for="exampleInputNombre2">Segundo Nombre</label>
                    <input type="text" class="form-control" asp-for="Nombre2" placeholder="Segundo Nombre">
                    <span asp-validation-for="Nombre2" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group" col-md-6>
                    <label for="exampleInputApellido1">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="Apellido1" placeholder="Segundo Nombre">
                    <span asp-validation-for="Apellido1" class="text-danger"></span>
                </div>
                <div class="form-group" col-md-6>
                    <label for="exampleInputApellido2">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="Apellido2" placeholder="Segundo Apellido">
                    <span asp-validation-for="Apellido2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" col-md-6>
                    <label for="exampleInputFechaNac">Fecha Nacimiento</label>
                    <input type="text" class="form-control" asp-for="Fechanacimiento" name="Fechanacimiento" placeholder="Fecha Nacimiento">
                    <span asp-validation-for="Fechanacimiento" class="text-danger"></span>
                </div>
                <div class="form-group" col-md-6>
                    <label for="exampleInputSexo">Sexo</label>
                    <input type="text" class="form-control" asp-for="Sexo" name="Sexo" placeholder="Sexo">
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
            </div>                
            </div>
            <!-- /.card-body -->
       
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

</form>
</div>

