@model SchoolSundayRH.Models.Childs;
@{
    ViewData["Title"] = "Niños";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Editar Niños</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Create1">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group" col-md-6>
                    <label for="exampleInputNombre1">Primer Nombre</label>
                    <input type="text" class="form-control" asp-for="Nombre1" placeholder="Primer Nombre">
                </div>
                <div class="form-group" col-md-6>
                    <label for="exampleInputNombre2">Segundo Nombre</label>
                    <input type="text" class="form-control" asp-for="Nombre2" placeholder="Segundo Nombre">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" col-md-6>
                    <label for="exampleInputApellido1">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="Apellido1" placeholder="Segundo Nombre">
                </div>
                <div class="form-group" col-md-6>
                    <label for="exampleInputApellido2">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="Apellido2" placeholder="Segundo Apellido">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" col-md-6>
                    <label for="exampleInputFechaNac">Fecha Nacimiento</label>
                    <input type="text" class="form-control" asp-for="Fechanacimiento" name="Fechanacimiento" placeholder="Fecha Nacimiento">
                </div>
                <div class="form-group" col-md-6>
                    <label for="exampleInputSexo">Sexo</label>
                    <input type="text" class="form-control" asp-for="Sexo" name="Sexo" placeholder="Sexo">
                </div>
            </div>
            <div id="PlaceHolderHere"></div>
            <div class="form-row">
                <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#asociarPadre"
                        data-url="@Url.Action("AsociarPadre")">Create</button>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    </form>
</div>

