<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<!--<script src="plugins/jquery/jquery.min.js"></script>-->
<script src="~/themeadminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<!--<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<script src="~/themeadminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/themeadminlte/plugins/select2/js/select2.min.js"></script>
<!-- AdminLTE App -->
<script src="~/themeadminlte/dist/js/adminlte.min.js"></script>
<!--<script src="dist/js/adm-->
<script src="~/themeadminlte/plugins/datepicker/bootstrap-datepicker.min.js"></script>

<script src="~/js/site.js"></script>

<script>
    $(document).ready(
        function () {           
            
            var HijoId = $("Hijos").val();
            var PlaceHoldeElement = $('#PlaceHolderMaster');
            var PlaceHoldePatherElement = $('#PlaceHolderPather');
            var PlaceHolderSeccion = $('#PlaceHolderSeccion');
            var PlaceHolderDetalleSeccElement = $('#PlaceHolderDetalleSecc');
            var PlaceHolderEditDetalleSeccElement = $('#PlaceHolderEditDetalleSecc');
            var PlaceHolderEditCurso = $('#PlaceHolderEditCurso');

            var PlaceHolderGrados = $('#PlaceHolderGrados');
            var PlaceHolderNiveles = $('#PlaceHolderNiveles');
            var PlaceHolderTurnos = $('#PlaceHolderTurnos');
            var PlaceHolderCursos = $('#PlaceHolderCursos');

            var saveUrl = '@Url.Action("CreatePadreHijos","Pather")';

            //$("#seltipoevaluaciones").chosen();

            $('button[data-toggle="ajax-master"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHoldeElement.html(data);
                    PlaceHoldeElement.find('.modal').modal('show');

                });

            });

            $('button[data-toggle="ajax-pather"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHoldePatherElement.html(data);
                    PlaceHoldePatherElement.find('.modal').modal('show');

                });

            });
            $('button[data-toggle="ajax-turnos"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderTurnos.html(data);
                    PlaceHolderTurnos.find('.modal').modal('show');

                });

            });

            $('button[data-toggle="ajax-secciones"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderSeccion.html(data);
                    PlaceHolderSeccion.find('.modal').modal('show');

                });

            });

            $('button[data-toggle="ajax-detasecc"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderDetalleSeccElement.html(data);
                    PlaceHolderDetalleSeccElement.find('.modal').modal('show');

                });

            });

            $('button[data-toggle="ajax-grados"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderGrados.html(data);
                    PlaceHolderGrados.find('.modal').modal('show');

                });

            });
            $('button[data-toggle="ajax-niveles"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderNiveles.html(data);
                    PlaceHolderNiveles.find('.modal').modal('show');

                });

            });
            $('button[data-toggle="ajax-editardetasecc"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderEditDetalleSeccElement.html(data);
                    PlaceHolderEditDetalleSeccElement.find('.modal').modal('show');

                });

            });
            $('button[data-toggle="ajax-editarcurso1"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderEditCurso.html(data);
                    PlaceHolderEditCurso.find('.modal').modal('show');
                    $("#FormaEval").select2();

                });

            });
            $('button[data-toggle="ajax-cursos"]').click(function (event) {


                var url = $(this).data('url');
                $.get(url).done(function (data) {

                    PlaceHolderCursos.html(data);
                    PlaceHolderCursos.find('.modal').modal('show');

                });

            });

            $("#imageBrowser").change(function () {
                var File = this.files;
                if (File && File[0]) {
                    ReadImage(File[0]);
                }


            })

            var ReadImage = function (file) {
                var reader = new FileReader;
                var image = new Image;
                reader.readAsDataURL(file);
                reader.onload = function (_file) {
                    image.src = _file.target.result;
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        var type = file.type;
                        var size = ~~(file.size / 1024) + "KB";
                        $("#targetImg").attr('src', _file.target.result);
                        //$("#description").text("Size:" + size + "," + height + "x" + width + "," + type + "");
                        $("#imgPreview").show();

                    }
                }
            }

            var UploadImage = function () {
                var file = $("#imageBrowser").get(0).files;
                var data = new FormData;
                data.append("ImageFile", file[0]);
               // data.append("ProductName"
            }

            $("#teacherForm").submit(function (event) {
                submitForm();
                return false;
            });

            $("#PatherSonForm").submit(function (event) {
                saveson();
                return false;
            });

             $("#seccionForm").submit(function (event) {
                saveSeccion();
                return false;
             });

            $("#seccionGrado").submit(function (event) {
                saveGrado();
                return false;
            });
            $("#nivelForm").submit(function (event) {
                saveNivel();
                return false;
            });
            $("#cursoForm").submit(function (event) {
                saveCurso();
                return false;
            });
            $("#turnoForm").submit(function (event) {
                saveTurno();
                return false;
            });
            /*$("#detalleseccForm").submit(function (event) {
                saveDetalleSeccion();
                return false;
            });*/

            var date_input = $('input[name="Fechanacimiento"]'); //our date input has the name "Fechanacimiento"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
               format: 'dd-mm-yyyy',
               container: container,
               todayHighlight: true,
               autoclose: true,


            };
            date_input.datepicker(options);
            var date_inputfechini = $('input[name="Fechainicio"]'); //our date input has the name "Fechanacimiento"

            date_inputfechini.datepicker(options);
            var date_inputfechfin = $('input[name="Fechafin"]'); //our date input has the name "Fechanacimiento"

            date_inputfechfin.datepicker(options);

            function submitForm() {

                var actionUrl = $('form#teacherForm').url.actionUrl();

                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    cache: false,
                    data: $('form#teacherForm').serialize(),
                    success: function (response) {
                        // $("#contact").html(response)
                        $("#addMaster").modal('hide');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
            function saveNivel() {

                var actionUrl = $('form#nivelForm').url.actionUrl();

                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    cache: false,
                    data: $('form#nivelForm').serialize(),
                    success: function (response) {
                        // $("#contact").html(response)
                        $("#addNiveles").modal('hide');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
            function saveCurso() {

                var actionUrl = $('form#cursoForm').url.actionUrl();

                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    cache: false,
                    data: $('form#cursoForm').serialize(),
                    success: function (response) {
                        // $("#contact").html(response)
                        $("#addcursos").modal('hide');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
            function saveTurno() {

                var actionUrl = $('form#turnoForm').url.actionUrl();

                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    cache: false,
                    data: $('form#turnoForm').serialize(),
                    success: function (response) {
                        // $("#contact").html(response)
                        $("#addTurnos").modal('hide');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
            function saveSeccion() {

                var actionUrl = $('form#seccionForm').url.actionUrl();

                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    cache: false,
                    data: $('form#seccionForm').serialize(),
                    success: function (response) {
                        // $("#contact").html(response)
                        $("#addSecciones").modal('hide');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }

            function saveDetalleSeccion() {

                var actionUrl = $('form#detalleseccForm').url.actionUrl();
                var detsecc = {};

                detsecc.Capacidad = $('#inCapacidad').val();
                detsecc.Seccionid = $('#Letra').val();
                detsecc.Vacantes = $('Vacantes').val();
                detsecc.Periodoid = $('#DetSeccPeriodo').val();
                detsecc.Gradoid = $('#SelGrado').val();
                detsecc.Nivelid = $('#Nivel').val();
                detsecc.Turnoid = $('#Turno').val();

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    url: '/DetalleSecc/CreateDetSeccion1?json=' + JSON.stringify(detsecc),

                    success: function (response) {
                        // $("#contact").html(response)
                        $("#addDetalleSecc").modal('hide');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }

            function saveGrado() {

                var actionUrl = $('form#gradoForm').url.actionUrl();

                $.ajax({
                    type: "POST",
                    url: actionUrl,
                    cache: false,
                    data: $('form#gradoForm').serialize(),
                    success: function (response) {
                        // $("#contact").html(response)
                        $("#addgrados").modal('hide');
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            }
            // <  WIDTH='20' HEIGHT='20'input type="button" value="Remove" name="Remove" class="btn btn-danger" onclick='RemoveItem(this)'/>
            //'<input type="button" value="Remove" name="Remove" class="btn btn-danger" onclick="RemoveItem(this)"/>
            $("#btnAddToList").click(function () {
                //AddToSonToList();
                AgregarFilaALista();
            })
            function AgregarFilaALista(){
                var ItemId = $("#Hijo").val();
                var ItemName = $("#Hijo option:selected").text();
               /* var ItemList = '<tr id="fila'+ItemId+'"><td hidden>F</td><td hidden><input  type="text"  value="'+ ItemId+
                    '"/></td><td>'+ItemName+'</td>'+'<td><input type="checkbox" name="record"></td></tr>';
                $('#tblhijosItemID').append(ItemList);*/
                var ItemList = '<tr id="fila'+ItemId+'"><td hidden>F</td><td hidden>'+ItemId+
                    '</td><td>'+ItemName+'</td>'+'<td><input type="checkbox" name="record"></td></tr>';
                $('#tblhijosItemID').append(ItemList);
            }
            function AddToSonToList() {
                var tblItemList = $("#tblhijosItemID")
                var ItemId = $("#Hijo").val();
                var ItemName = $("#Hijo option:selected").text();
                var ItemList = "<tr><td>F</td><td>" + ItemId +
                    "</td><td >" + ItemName + "</td><td>" +
                    "<input type='button' value='Remove' name='Remove' class='btn btn-danger' onclick='RemoveItem(this)'/></td></tr>";
                tblItemList.append(ItemList);
            }

            $(".delete-row").click(function () {
                $("table tbody").find('input[name="record"]').each(function () {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").remove();
                    }
                });
            });
            function RemoveItem(ItemRow) {
               // $(ItemId).closest('tr').remove();
                //$(ItemId).remove();
               // $('table#tblhijosItemID tr#' + ItemRow).remove();
                $('#' + ItemRow).remove();
            }

            // or you can use bellow line also
            //$('#tblhijosItemID tr#'+id).remove();

            $('body').on('click', '#saveDetSecc', function () {
                var detsecc = {};

                detsecc.Capacidad = $('#inCapacidad').val();
                detsecc.Seccionid = $('#Letra').val();
                detsecc.Vacantes = $('Vacantes').val();
                detsecc.Periodoid = $('#DetSeccPeriodo').val();
                detsecc.Gradoid = $('#SelGrado').val();
                detsecc.Nivelid = $('#Nivel').val();
                detsecc.Turnoid = $('#Turno').val();

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'JSON',
                    type: 'POST',
                    url: '/DetalleSecc/CreateDetSeccion1?json=' + JSON.stringify(detsecc),
                    succes: function (data) {


                    },
                    error: function (err) {
                       // console.log(err);
                        $("#addDetalleSecc").modal('hide');
                        window.location.href = "/DetalleSecc/IndexDetalleSecc";
                    }
                });
            });
            $('body').on('click', '#editDetSecc', function () {
                var detsecc = {};

                detsecc.Detalleseccionid = $('#iddetallesec').val();
                detsecc.Capacidad = $('#inCapacidad').val();
                detsecc.Seccionid = $('#Letra').val();
                detsecc.Vacantes = $('Vacantes').val();
                detsecc.Periodoid = $('#DetSeccPeriodo').val();
                detsecc.Gradoid = $('#SelGrado').val();
                detsecc.Nivelid = $('#Nivel').val();

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'JSON',
                    type: 'POST',
                    url: '/DetalleSecc/EditarDetalleSecc1?json=' + JSON.stringify(detsecc),
                    succes: function (data) {


                    },
                    error: function (err) {
                        // console.log(err);
                        $("#addDetalleSecc").modal('hide');
                        window.location.href = "/DetalleSecc/IndexDetalleSecc";
                    }
                });
            });

            $("#saveOrder").click(function (e)  {
                  e.preventDefault();
                 // var saveUrl = '@Url.Action("CreatePadreHijos","Pather")';
                  //var actionUrl = $('form#PatherSonForm').url.actionUrl();
                  var padres = {};
                  var listapatherson = new Array();
                  /*padres.Padreid = $("#Padreid").val();
                  padres.Nombre1 = $("#Nombre1").val();
                  padres.Nombre2 = "Ramon";
                  padres.Apellido1 = "Ramon";
                  padres.Apellido2 = "Ramon";
                  padres.Telefono = "25421634";
                  padres.Email = "25421634";
                  padres.Sexo = "M";*/
                  padres.Nombre1 = "Sergio";
                  padres.Apellido1 = "Coronado";

                  $.each($("#tblhijosItemID tbody tr"), function () {

                      var listHijos = {};
                      listHijos.Padreid = $("#Padreid").val();
                      listHijos.Childid = $(this).find("td:eq(1)").html();
                      listapatherson.push(listHijos);
                  });
                  padres.listapatherson = listapatherson;
                  //url: '/Pather/CreatePadreHijos?json=' + JSON.stringify(padres),
                  $.ajax({
                      contentType: 'application/json; charset=utf-8',
                      dataType: 'JSON',
                      type: 'POST',
                      url: '/Pather/CreatePadreHijos?json=' + JSON.stringify(padres),
                      succes: function (data) {

                      },
                      error: function (err) {
                          console.log(err);
                      }
                  });

            });



            $("#fechafin").blur(function () {
                var sfechaini = $("#fechaini").val();
                var sfechafin = $("#fechafin").val();
                var dfechaini = sfechaini.split("-");
                var dfechafin = sfechafin.split("-");
                if (dfechaini[1] > dfechafin[1]) {
                    alert("la fecha final tiene que ser mayor");
                }


            });


            function saveOrder(data) {
                return $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: "/Pather/CreatePadreHijos",
                    data: data
                });
            }

            function myFunction() {
                alert('This is an alert message.');
            }

            /*$('[id*=Grado]').on('change', function () {
                //window.location = document.getElementById("menu").value;
                myFunction();
            });        */


            $("#saveOrder1").click(function (e) {
                e.preventDefault();

                var orderArr = [];
                orderArr.length = 0;
                $.each($("#tblhijosItemID tbody tr"), function () {
                    orderArr.push({
                        Padreid: $("#Padreid").val(),
                        Childid: $(this).find('td:eq(1)').html()
                    });
                });

                var data = JSON.stringify({
                    Nombre1: "Sergio",
                    Apellido1: "Coronado",
                    listapatherson: orderArr
                });
                $.when(saveOrder(data)).then(function (response) {
                    console.log(response);
                }).fail(function (err) {
                    alert(data);
                });
            });



           /* $("select[id ^='SelGrado']").change(function () {
                //alert($('option: selected', $(this)).text());
                $('#inCapacidad').val("GeeksForGeeks");
            });
            function ddListChange() {
                //alert($('#LetraSel option: selected').text());
                $('#inCapacidad').val("GeeksForGeeks");
            }*/
            /*$('body').on('change', '#SelGrado', function () {
                $('#inCapacidad').val(this.value);
            });*/
           // $("#TipoEvaluaciones").chosen(); 
            //$('.chosen-search').chosen();
           // $("#TipoEvaluaciones").select2();
           /* $('.listbox').multiselect({
                includeSelectAllOption: true
            });*/
           
    })

</script>